.heart {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  color: black;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}