.firdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1{
    padding: 15px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(79, 79, 79));
    color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
}
.secdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thrdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 20px;
    gap: 10px;
}
.button{
    // border: 1px solid white;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    padding: 7px;
    height: 30px;
}